* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Amiri", serif;
    overflow: hidden;
}

.bg-image {
    width: 100%;
    height: 100vh;
    background-image: url(../images/loader/bg-image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    filter: blur(3px);
    opacity: 0.3;
    -webkit-filter: blur(3px) grayscale(30px);
    position: relative;
}

.main {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 0;
}

.wrapper-title {
    position: relative;
}

.wrapper-title__image {
    opacity: 0;
    animation: bloom 2s ease 1.2s infinite;
}

.wrapper-title__image--2 {
    float: right;
    animation: bloom 2s ease 1.5s infinite;
}

.wrapper-title__image--3 {
    position: absolute;
    margin-top: 40px;
    animation: bloom 2s ease 1.4s infinite;
}

@keyframes bloom {
    0% {
        transform: scale(0, 0);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.main-title {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 10;
    line-height: 1.5;
    color: #110ea8;
    opacity: 0;
    animation: titleBloom 1s linear 1s both;
    font-size: 26px;
    transform: translateX(-50%);
    text-align: center;
}

.main-title span {
    display: block;
    color: red;
}

.main-title h3 {
    margin-top: 1rem;
}

@keyframes titleBloom {
    0% {
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%);
    }
}

.wrapper-content {
    height: 10%;
    margin: 30px auto;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s;
}





@keyframes showW {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.down-content {
    margin-top: 250px;
}

.wrapper-flowers,
.wrapper-flowers--2 {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

.wrapper-flowers img {
    height: 120px;
    z-index: 400;
    animation: showFlowers 0.3s ease 1.5s both;
}

.wrapper-flowers--2 img {
    height: 120px;
    z-index: 400;
    animation: showFlowers 0.3s ease 1.9s both;
}

.wrapper-flowers--2 {
    top: -150px;
}

@keyframes showFlowers {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#goto-page {
    all: unset;
    border: 1px solid red;
    background-color: rgba(4, 0, 255, 0.459);
    color: #ffe;
    padding: 8px 16px;
    font-size: 1.2rem;
    line-height: 0.9;
    cursor: pointer;
    border-radius: 20px;
    display: none;
    position: absolute;
    top: 30%;
    left: 45%;
    z-index: 1000;
    animation: showBtn 0.3s ease 1.9s both, up_down 1s ease-in-out infinite 3.3s;
}

#goto-page:hover {
    background-color: #f0f0f0;
    color: red;
    border: none;
    transform: scale(1.2);
    animation: showBtn 0.3s ease 0.5s both;
}

@keyframes showBtn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1.2);
    }
}

@keyframes up_down {

    0%,
    100% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(0) scale(1.1);
    }
}

@media (max-width: 600px) {
    .main-title {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .wrapper-content {
        margin: 30px auto;
        gap: 5px;
    }

    #goto-page {
        top: 40%;
        left: 40%;
    }
}